a {
  text-decoration: none;
}
.controls {
  display: flex;
  gap:10px;
  list-style:none;
  padding: 0;
}
.controls a,
.controls button{
  color:#121212;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0;
  font-size:0.8em;
  padding: 5px 8px;
  background: #ebebeb;
  border:1px solid #ccc;
  border-radius:5px;
  display:inline-block;
  margin:0;
}
.controls button{
  background:rgb(220, 53, 69);
  color:#fff;
}